<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% for User in users%}
    {% if user.username != User.username%}
    <script type="text/javascript">
      openPage = function(room_id){
      var strLink = "chat/" + room_id;
      location.href = strLink;
    }
    </script>
    <p><a href="javascript:openPage(({{user.id}}*{{User.id}}).toString() +
                (({{user.id}}+{{User.id}})*({{user.id}}*{{User.id}})).toString())">
        {{User.username}}</a></p>
    {% endif %}
  {% endfor %}

  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <p>or</p>
  <a href="{% url 'registration' %}">register</a>
{% endif %}
{% endblock %}
